.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  width: 100px;
  height: 100px;
  border-color: white;
  border-width: 1px;
}

@media screen and (max-width: 576px) {
  .flip-container {
    width: 60px;
    height: 60px;
  }
}

.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.4s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.4s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.4s;
  -o-transform-style: preserve-3d;

  transition: 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container img,
.flipper > img {
  height: auto;
  width: auto;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 576px) {
  .front,
  .back {
    height: 60px;
    width: 60px;
  }
}

.back,
.front {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #f8f8f8;
}
